/*
 * =====================================
 * EUI UI框架    elena  QQ：329655021
 * Verson 0.1.0
 * =====================================
 */
/*初始化类*/
html,body {
    -webkit-text-size-adjust: 100%;
    -webkit-touch-callout:none;
    -webkit-tap-highlight-color:transparent;
    -webkit-user-select: none;
}
body {
    line-height: 1.5;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    color: #3e3e3e;
}
* {
    margin:0;
    padding:0;
    font-style:normal;
    outline: none;
    -webkit-box-sizing: border-box;
}
img{
    width:100%;
    vertical-align: bottom;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #3e3e3e;
}
a:hover {
    outline: 0;
}
input,select,textarea,button{
    font-family: "Microsoft Yahei";
    font-size: 14px;
    -webkit-appearance: none;
}
textarea {
    resize: none;
}
input,select,textarea{
    border: none;
    background: none;
    box-shadow: none;
    -webkit-user-select: text;
    -webkit-appearance: none;
}
button:focus,input:focus {
    outline: 0;
}
/*自动隐藏文字*/
.text_ellipsis{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.line_ellipsis{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/*文字对齐*/
.text_center{
    text-align: center;
}
.text_right{
    text-align: right !important;
}
/*浮动*/
.pull_left{
    float: left;
}
.pull_right{
    float: right;
}
.hide{
    display: none;
}
.show {
    display: block;
}
/*布局*/
.flex{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.flex_1{
    -webkit-flex:1;
}
.block_center{
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}
.all{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.center{
    top: 50%;
    left: 50%;
}
.flex_wrap{
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.column{
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.block{
    display: block;
}
.inline {
    display: inline-block;
    vertical-align: middle;
}
.center{
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}
.h_justify{
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
}
.v_center{
    -webkit-align-items: center;
    align-items: center;
}
.all_width{
    width: 100%;
}
/*圆角*/
.circle{
    border-radius: 50%;
}
.circle_5{
    border-radius: 5px;
}
.circle_10{
    border-radius: 10px !important;
}
.circle_15{
    border-radius: 15px;
}
/*行内块*/
.block_inline{
    display:inline-block;
    text-align: center;
}
.block_16{
    width:16px;
    height: 16px;
    line-height:16px;
}
.block_20{
    width:20px;
    height: 20px;
    line-height:20px;
}
.block_middle{
    vertical-align: middle;
}
/*图片自适应*/
.contain{
    object-fit:contain;
}
/*字号*/
.font_12{
    font-size: 12px;
}
.font_15{
    font-size: 15px;
}
.font_16{
    font-size: 16px !important;
}
.font_18{
    font-size: 18px !important;
}
.font_20{
    font-size: 20px !important;
}
.font_34{
    font-size: 34px !important;
}
/*行间距*/
.lineheight_1{
    line-height: 1;
}
.lineheight_2{
    line-height: 2;
}
.lineheight_3{
    line-height: 2.4;
}
.lineheight_4{
    line-height: 2.8;
}
.lineheight_5{
    line-height: 3.2;
}
/*内外边距*/
.margin_10{
    margin: 10px;
}
.margin_b_10{
    margin-bottom: 10px;
}
.margin_v_10{
    margin: 10px 0;
}
.padding_5{
    padding:5px;
}
.padding_10{
    padding:10px;
}
.padding_l_10{
    padding-left:10px;
}
.padding_v_8{
    padding:0.5em 0;
}
.padding_15{
    padding:15px;
}
.padding_v_10{
    padding: 10px 0;
}
.padding_h_15{
    padding: 0 15px;
}
.padding_h_20{
    padding: 0 30px;
}
/*栅格类*/
.row {
    overflow: hidden;
}
.col_1,.col_2,.col_3,.col_4,.col_5,.col_6,.col_7,.col_8,.col_9,.col_10,.col_11{
    position: relative;
    float: left;
}
.col_12 {
    width: 100%;
    position: relative;
}
.col_11 {
    width: 91.66666667%;
}
.col_10 {
    width: 83.33333333%;
}
.col_9 {
    width: 75%;
}
.col_8 {
    width: 66.66666667%;
}
.col_7 {
    width: 58.33333333%;
}
.col_6 {
    width: 50%;
}
.col_5 {
    width: 41.66666667%;
}
.col_4 {
    width: 33.33333333%;
}
.col_3 {
    width: 25%;
}
.col_2 {
    width: 16.66666667%;
}
.col_1 {
    width: 8.33333333%;
}
/*边框*/
.border_t,.border_b,.border_l,.border_r,.border_tb,.border {
    position: relative;
}
.border_l:before,.border_r:after {
    width: 1px;
    height: 100%;
    background-color: #dddddd;
    display: block;
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: auto;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    pointer-events: none;
}
.border_t:before,.border_b:after {
    width: 100%;
    height: 1px;
    background-color: #dddddd;
    display: block;
    content: '';
    position: absolute;
    z-index: 2;
    left: 0;
    right: auto;
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    pointer-events: none;
}
.border_l:before {
    right: auto;
    left: 0;
}
.border_r:after {
    right: 0;
    left: auto;
}
.border_t:before {
    bottom: auto;
    top: 0;
}
.border_b:after {
    bottom: 0;
    top: auto;
}
.border:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    bottom: auto;
    left: 0;
    right: auto;
    -webkit-transform-origin: 0 0;
    -webkit-transform: scale(1);
    pointer-events: none;
    border: 1px solid #dddddd;
    border-radius: 5px;
}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {
    .border:after {
        right: -100%;
        bottom: -100%;
        -webkit-transform: scale(0.5);
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
    .border_r:after,.border_l:before  {
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
    }
    .border_t:before,.border_b:after  {
        -webkit-transform: scaleY(1);
                transform: scaleY(1);
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .border_r:after,.border_l:before {
        -webkit-transform: scaleX(0.5);
                transform: scaleX(0.5);
    }
    .border_t:before,.border_b:after  {
        -webkit-transform: scaleY(0.5);
                transform: scaleY(0.5);
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .border_r:after,.border_l:before {
        -webkit-transform: scaleX(0.333);
                transform: scaleX(0.333);
    }
    .border_t:before,.border_b:after  {
        -webkit-transform: scaleY(0.333);
                transform: scaleY(0.333);
    }
}
/*颜色*/
.pink {
    color: #e91e63;
}
.purple {
    color: #673ab7;
}
/*white*/
.white{
    color: #f1f1f1;
}
/*black*/
.light{
    color: #8e8e8e;
}
/*grey*/
.light_grey{
    color: #C9C9C9;
}
.dark_grey{
    color: #B2B2B2;
}
.border_grey{
    border:1px solid #eee;
}
.bg_dark{
    background: rgba(0,0,0,.5);
}
.bg_grey,.btn_grey {
    background: #e0e0e0;
}
.btn_grey.active, .btn_grey:active {
    background-color: #bdbdbd;
}
/*red*/
.light_red{
    color: #F43530;
}
.dark_red{
    color: #E65343;
}
.border_red{
    border:1px solid #F43530;
}
.bg_red{
    background-color: #F43530;
}
.danger{
    color: #e51c23;
}
.border_danger {
    border: 1px solid #e51c23;
}
.label_danger{
    color: #e51c23;
    border: 1px solid #e51c23;
}
.bg_danger,.btn_danger {
    background-color: #e51c23;
}
.btn_danger.active, .btn_danger:active {
    background-color: #dd191b;
}
/*blue_green*/
.primary {
    color: #00bcd4;
}
.border_primary {
    border: 1px solid #00bcd4;
}
.label_primary {
    color: #00bcd4;
    border: 1px solid #00bcd4;
}
.bg_primary,.btn_primary {
    background-color: #00bcd4;
}
.btn_primary.active, .btn_primary:active {
    background-color: #00acc1;
}
/*blue*/
.light_blue {
    color: #03a9f4;
}
.dark_blue{
    color: #507ECC;
}
.indigo {
    color: #3f51b5;
}
.border_blue {
    border: 1px solid #0099ff;
}
.label_blue{
    color: #0099ff;
    border: 1px solid #0099ff;
}
.bg_blue,.btn_blue {
    background-color: #0099ff;
}
.btn_blue.active, .btn_blue:active {
    background-color: #008bef;
}
/*green*/
.light_green{
    color: #09BB07;
}
.dark_green {
    color: #009688;
}
.border_green{
    border: 1px solid #009688;
}
.label_green {
    color: #009688;
    border: 1px solid #009688;
}
.bg_green,.btn_success {
    background-color: #009688;
}
.btn_success.active, .btn_success:active {
    background-color: #00897b;
}
/*yellow*/
.light_yellow{
    color: #FCCB4A;
}
.dark_yellow{
    color: #ffc107;
}
.border_yellow{
    border:1px solid #ffc107;
}
.label_warning {
    color: #ffc107;
    border:1px solid #ffc107;
}
.bg_warning,.btn_warning {
    background-color: #ffc107;
}
.btn_warning.active, .btn_warning:active {
    background-color: #ffb300;
}
.bg_white {
    background-color: #fff;
}
/*标签*/
.label{
    display: inline-block;
    padding: 0 0.5rem;
    border-radius: 5px;
}
/*按钮样式*/
button, .btn {
    display: inline-block;
    padding: 0 1rem;
    border-radius: 0.3rem;
    -webkit-user-select: none;
}
.btn_block {
    display: block;
    width: 100%;
    padding: 0.4rem 0;
}
/*角标*/
.badge {
    display: inline-block;
    min-width: 0.8rem;
    height: 0.8rem;
    line-height: 0.8rem;
    padding: 0 0.2rem;
    color: #ffffff;
    background-color: #ff2600;
    border-radius: 0.5em;
}
.dot {
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    background: #ff2600;
    border-radius: 50%;
}
/*遮罩*/
.mask {
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    z-index: 8;
    -webkit-transition-duration: 300ms;
}
.fade_in {
    opacity: 1;
}
.fade_out {
    opacity: 0;
}
/*animate*/
.animated {
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
}
.pulse {
    -webkit-animation-name: pulse;
}
@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
    }
}
/*表单*/
/*.list .form_name{
    float: left;
    width: 70px;
}
.list input,.list select,.list .form_word{
    float: left;
    width: calc(100% - 70px);
}*/
.list .form_name,.list .form_word,.list input,.list select,.list .input_btn{
    line-height: 24px;
    height: 30px;
    padding:3px 5px;
}
/*.input_b{
    float: left;
    width: calc(100% - 150px);
}
.input_btn{
    float: left;
    width: 80px;
    border-left: 1px solid #666;
    font-size: 12px;
}
.list .input_b input,.list .input_btn select{
    width: 100%;
}*/
/*注册*/
.regist{
    min-height: 100vh;
    background: url(../img/bg.jpg);
    background-size: 100% 100%;
    padding-top: 40px;
}
.regist_logo{
    width: 160px;
    height: 72px;
    background: url(../img/logo2.png) no-repeat;
    background-size: 100%;
    margin: 0 auto 50px auto;
}
.regist .regist_info{
    padding:0 20px;
    color: #eee;
}
.regist .list{
    border-bottom: 1px solid #666;
}
.regist input,.regist select{
    color: #eee;
    width: calc(100% - 50px);
}
.regist .list .label{
    width: 50px;
}
.regist .input_b{
    width: calc(100% - 120px);
}
.regist .input_btn{
    width: 70px;
}
/* 头像 */
.weui_avatar{
    display: -webkit-flex;
    padding: 10px 15px;
    -webkit-align-items: center;
    background: #fff;
    margin-top: 20px;
}
.avatar{
    width: 70px;
    height: 70px;
}
.avatar img{
    border: 1px solid #eee;
}
.avatar_title{
    padding-left: 15px;
    font-size: 16px;
}
.avatar_title .good{
    color: #8e8e8e;
    font-size: 14px;
}
/* 主题 */
.theme{

}
/* 晒图 */
.weui_uploader{
    padding-left: 15px;
}
.weui_uploader_title{
    line-height: 36px;
}
.weui_uploader_con{
    overflow: auto;
}
.weui_uploader_preview{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
}
.weui_uploader_preview_close{
    position: absolute;
    top: 28.5px;
    left: 28.5px;
    width: 20px;
    height: 20px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 18px;
    border: 1px solid #ccc;
    border-radius: 50%;
}
/*列表*/
.list .list_header {
    background: #e0e0e0;
    line-height: 2;
    padding:0 15px;
}
.list .list_item {
    position: relative;
    min-height: 2.2rem;
    padding: 0.8em 15px;
}
.list_in .list_item {
    padding-left:0;
    margin-left:15px;
}
.list .list_item.list_item_icon{
    padding: 0 15px;
}
.list .list_item_icon .list_item_inner{
    position: relative;
    padding: 0.8em 0;
}
.list .list_item:after,.list .list_item_icon .list_item_inner:after {
    width: 100%;
    height: 1px;
    background: #eee;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
}
.list .list_item.list_item_icon:after{
    content:'';
    height: 0;
}
.list_item .media_img {
    width: 5em;
}
.list_item .media_img_right{
    width: 5em;
}
.list .list_item .list_icon{
    width: auto;
    padding-right: 0.75rem;
}
.list .list_title {
    font-size: 1.2em;
}
.list .list_right {
    max-width: 50%;
    min-width: 24px;
    margin-left: 0.2em;
}
.list_imgs{
    overflow: hidden;
}
.list_imgs div{
    padding: 0.1em;
}
.list_arrow:before {
    content: '';
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    top: 50%;
    right: 0.75rem;
    margin-top: -0.2rem;
    border: 1px solid #dddddd;
    border-top: none;
    border-right: none;
    z-index: 2;
    -webkit-transform: rotate(-135deg);
}
/*tab切换类*/
.tab {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -webkit-align-self: center;
    /*border-bottom: 1px solid #ddd;*/
}
.tab_item {
    width: 100%;
    height: 2.2rem;
    line-height: 2.2rem;
    font-size: 0.7rem;
    text-align: center;
    background-color: #ffffff;
    margin-left: -1px;
    -webkit-box-flex: 1;
}
.tab_item.active {
    color: #039be5;
    border-bottom: 2px solid #039be5;
    z-index: 100;
}
.tab:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #dddddd;
    z-index: 2;
}
/*宫格布局*/
.grid {
    width: 100%;
    background-color: #ffffff;
    display: table;
    table-layout: fixed;
}
.grid [class*=col-] {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    padding: 1rem 0;
}
.grid .iconfont {
    position: relative;
    z-index: 20;
    top: 0;
    height: 1.4rem;
    font-size: 1.4rem;
    line-height: 1.4rem;
}
.grid .badge {
    position: absolute;
    top: 0.5rem;
    left: 60%;
    z-index: 99;
}
.grid .dot {
    position: absolute;
    top: 0.5rem;
    right: 20%;
    z-index: 99;
}
/*单选、多选、开关*/
input.radio, input.checkbox {
    width: 1.2rem;
    height: 1.2rem;
    border: solid 1px #dddddd;
    border-radius: 50%;
    position: relative;
    vertical-align: top;
    -webkit-appearance: none;
    transition: background-color ease 0.1s;
}
input.checkbox {
    border-radius: 3px;
}
input.radio:checked, input.checkbox:checked {
    background-color: #03a9f4;
    border: solid 1px #03a9f4;
}
input.radio:checked:before, input.checkbox:checked:before,.radio:disabled:before,.radio.disabled:before,.radio:disabled:after,.radio.disabled:after,.checkbox:disabled:before,.checkbox.disabled:before,.checkbox:disabled:after,.checkbox.disabled:after{
    content: '';
    width: 0.5rem;
    height: 0.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -0.25rem;
    margin-top: -0.25rem;
    background: transparent;
    border: 1px solid #ffffff;
    border-top: none;
    border-right: none;
    z-index: 2;
    transform: rotate(-45deg);
}
.radio:disabled,.radio.disabled,.checkbox:disabled,.checkbox.disabled {
    background-color: #dddddd;
    border: solid 1px #dddddd;
}
.switch {
    width: 2.3rem;
    height: 1.2rem;
    vertical-align: top;
    border: 1px solid #dddddd;
    background-color: #dddddd;
    border-radius: 0.6rem;
    background-clip: content-box;
    display: inline-block;
    outline: none;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -webkit-background-clip: padding-box;
    -webkit-transition: all 0.2s linear;
}
.switch:before {
    width: 1.1rem;
    height: 1.1rem;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.6rem;
    background-color: #fff;
    content: '';
    -webkit-transition: left 0.2s;
}
.switch:checked {
    border-color: #03a9f4;
    background-color: #03a9f4;
}
.switch:checked:before {
    left: 1.1rem;
}
/*导航栏*/
.bar {
    min-height: 3em;
    font-size: 1em;
    text-align: center;
    padding:0 10px;
}
.bar_nav {
    background-color: #03a9f4;
    color: #ffffff;
}
.bar_nav a {
    line-height: 3em;
}
.bar_nav .title {
    position: absolute;
    right: 5em;
    left: 5em;
    line-height: 3em;
}
.bar_nav a {
    height: 3em;
}
.bar_nav a .icon {
    color: #ffffff;
    font-size: 1em;
}
.bar_nav .outlined {
    padding: 0 0.3em;
    margin: 0.7em;
    height: 1.6em;
    line-height: 1.5em;
    border: 1px solid #ffffff;
    border-radius: 0.2em;
}
.bar_light {
    position: relative;
    color: #03a9f4;
    background-color: #ffffff;
}
.bar_nav.bar_light .icon {
    color: #03a9f4;
}
.bar_nav.bar_light .outlined {
    border-color: #03a9f4;
}
.bar_nav.bar_light:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #dddddd;
}
/*底部切换栏*/
.bar_tab {
    position: fixed;
    top: auto;
    bottom: 0;
    table-layout: fixed;
    background-color: #ffffff;
    color: #757575;
    border-top: 1px solid #eee;
}
.bar_tab .bar_tab_item {
    display: table-cell;
    position: relative;
    width: 1%;
    height: 3rem;
    text-align: center;
    vertical-align: middle;
}
.bar_tab .active {
    color: #039be5;
}
.bar_tab .bar_tab_item .iconfont {
    position: relative;
    z-index: 20;
    top: 0.1rem;
    height: 1.2rem;
    font-size: 1rem;
    line-height: 1rem;
}
.bar_tab .bar_tab_label {
    display: block;
    font-size: 0.6rem;
    position: relative;
}
.bar_tab .badge {
    position: absolute;
    top: 0.1rem;
    left: 55%;
    z-index: 99;
}
.bar_tab .dot {
    position: absolute;
    top: 0.1rem;
    right: 30%;
    z-index: 99;
}
/*按钮工具栏*/
.bar_btn {
    font-size: 0.7rem;
    margin: 0 auto;
    width: 100%;
    min-height: 1.8rem;
}
.bar_btn_item {
    line-height: 1.6rem;
    text-align: center;
    border: 1px solid #03a9f4;
}
.bar_btn .input,.bar_btn input,.bar_btn select {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    min-height: 1.8rem;
}
.bar_btn_sm {
    min-height: 1.3rem;
}
.bar_btn.bar_btn_sm  .input,.bar_btn.bar_btn_sm  input,.bar_btn.bar_btn_sm  select {
    min-height: 1.2rem;
}
.bar_btn_sm .bar_btn_item {
    line-height: 1.3rem;
    font-size: 0.6rem;
}
.bar_btn_item.active {
    background-color: #03a9f4;
    color: #ffffff;
}
.bar_btn_item:first-child {
    border-left-width: 1px;
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}
.bar_btn_item:last-child {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    border-left: 0px;
}
.bar_btn.bar_btn_full .bar_btn_item:first-child {
    border-left-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.bar_btn.bar_btn_full .bar_btn_item:last-child {
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.bar_btn.bar_btn_round .bar_btn_item:first-child {
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.bar_btn.bar_btn_round .bar_btn_item:last-child {
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.bar_nav .bar_btn {
    margin-top: 0.45rem;
    margin-bottom: 0.4rem;
    min-height: 1.3rem;
}
.bar_nav .bar_btn_item {
    line-height: 1.3rem;
    border-color: #ffffff;
}
.bar_nav .bar_btn_item.active {
    background-color: #ffffff;
    color: #03a9f4;
}
.bar_nav.bar_light .bar_btn_item {
    border-color: #03a9f4;
}
.bar_nav.bar_light .bar_btn_item.active {
    background-color: #03a9f4;
    color: #ffffff;
}
.bar_nav > .bar_btn {
    width: 50%;
}
.info {
    position: relative;
    padding: 0.5rem 0;
    font-size: 0.7rem;
    color: #757575;
    background-color: transparent;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;

}
.info_item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
}
.info_item > *,
.info > * {
    display: inherit;
    position: relative;
}
/*主题块*/
.theme_block{
    padding:0 30px;
    text-align: center;
    display: flex;
}
.theme_item{
    flex: 1;
}
.theme_icon{
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin:8px auto 0 auto;
    border-radius: 50%;
}
.theme_icon .icon{
    font-size: 20px;
    color: #fff;
}
/*进度条*/
.progress {
    width: 100%;
    height: 1rem;
    border-radius: 0.2rem;
    overflow: hidden;
    background-color: #f0f0f0;
}
.progress_bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 0.6rem;
    line-height: 1rem;
    color: #ffffff;
    text-align: center;
    background-color: #03a9f4;
}
.progress.sm,
.progress_sm {
    height: 0.5rem;
}
.progress.sm,
.progress_sm,
.progress.sm .progress_bar,
.progress_sm .progress_bar {
    border-radius: 1px;
}
.progress.xs,
.progress_xs {
    height: 0.35rem;
}
.progress.xs,
.progress_xs,
.progress.xs .progress_bar,
.progress_xs .progress_bar {
    border-radius: 1px;
}
.progress.xxs,
.progress_xxs {
    height: 0.15rem;
}
.progress.xxs,
.progress_xxs,
.progress.xxs .progress_bar,
.progress_xxs .progress_bar {
    border-radius: 1px;
}
/*滑块*/
.range {
    position: relative;
    display: inline-block;
}
.range input[type='range']{
    height: 0.2rem;
    border: 0;
    border-radius: 2px;
    background-color: #f0f0f0;
    position: relative;
    -webkit-appearance: none !important;
}
.range input[type='range']::-webkit-slider-thumb {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border-color: #03a9f4;
    background-color: #03a9f4;
    -webkit-appearance: none !important;
}
.range .range_tip {
    font-size: 1rem;
    position: absolute;
    z-index: 999;
    top: -1.5rem;
    width: 2.4rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    color: #666666;
    border: 1px solid #dddddd;
    border-radius: 0.3rem;
    background-color: #ffffff;
}
.input-row .range input[type='range'] {
    width: 90%;
    margin-left: 5%;
}
/*搜索条*/
.searchbar {
    height: 40px;
    font-size: 12px;
}
.searchbar_input {
    width: 100%;
    margin-left: 15px;
    background-color: #ffffff;
}
.searchbar_input input {
    width: 100%;
    line-height: 25px;
    padding-left: 30px;
    font-size: 12px;
}
.searchbar input::-webkit-input-placeholder {
    color: #ccc;
}
.searchbar .icon_search {
    position: absolute;
    line-height: 25px;
    padding: 0 10px;
}
.searchbar .searchbar_right {
    width: 50px;
    line-height: 25px;
    text-align: center;
}
/*信息提示条*/
.tips {
    padding: 0 0.75rem;
    width: 100%;
    z-index: 99;
    height: 1.9rem;
    line-height: 1.9rem;
    position: relative;
    background-color: rgba(0,0,0,.6);
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-align-items: center;
            align-items: center;
}
.tips .tips_title {
    padding: 0 0.5rem;
    font-size: 0.7rem;
    position: relative;
    max-width: 100%;
}
/*toast*/
.toast{
    display: none;
}
.toast_block{
    width: 120px;
    height: 120px;
    color: #eee;
    background: rgba(40, 40, 40, 0.75);
    border-radius: 5px;
    text-align: center;
    padding:20px 10px;
}
.toast_block i{
    font-size: 50px;
    color: #E65343;
}
/*dialog*/
.dialog {
    width: 13.5rem;
    text-align: center;
    position: fixed;
    z-index: 999;
    left: 50%;
    margin-left: -6.75rem;
    margin-top: 0;
    top: 45%;
    border-radius: 0.3rem;
    opacity: 0;
    background-color: #ffffff;
    -webkit-transform: translate3d(0, 0, 0) scale(1.2);
            transform: translate3d(0, 0, 0) scale(1.2);
    -webkit-transition-property: -webkit-transform, opacity;
            transition-property: transform, opacity;
    /*display: none;*/
}
.dialog_header {
    padding: 0.5rem 0.75rem 0 0.75rem;
    text-align: center;
    font-size: 1em;
    color: #212121;
}
.dialog_body {
    padding: 0.75rem;
    overflow: hidden;
    font-size: 0.875em;
    color: #757575;
}
.dialog_body input {
    border: 1px solid #bdbdbd;
    border-radius: 0.2rem;
    height: 1.8rem;
    line-height: 1.8rem;
    min-height: 1.8rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.dialog_footer {
    position: relative;
    font-size: 1em;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
}
.dialog_footer:after {
    width: 100%;
    height: 1px;
    background-color: #dddddd;
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    z-index: 2;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
}
.dialog_btn {
    position: relative;
    display: block;
    width: 100%;
    padding: 0 0.25rem;
    height: 2.2rem;
    font-size: 0.8rem;
    line-height: 2.2rem;
    text-align: center;
    color: #0894ec;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 1;
            box-flex: 1;
}
.dialog_btn:after {
    width: 1px;
    height: 100%;
    background-color: #dddddd;
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
}
.dialog_btn:first-child:after {
    width: 0;
}
.dialog.dialog_in {
    opacity: 1;
    -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
          transform: translate3d(0, 0, 0) scale(1);
}
.dialog.dialog_out {
    opacity: 0;
    -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
    -webkit-transform: translate3d(0, 0, 0) scale(0.815);
          transform: translate3d(0, 0, 0) scale(0.815);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
    .dialog_footer:after  {
        -webkit-transform: scaleY(1);
                transform: scaleY(1);
    }
    .dialog_btn:after  {
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .dialog_footer:after {
        -webkit-transform: scaleY(0.5);
                transform: scaleY(0.5);
    }
    .dialog_btn:after {
        -webkit-transform: scaleX(0.5);
                transform: scaleX(0.5);
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .dialog_footer:after {
        -webkit-transform: scaleY(0.333);
                transform: scaleY(0.333);
    }
    .dialog_btn:after {
        -webkit-transform: scaleX(0.333);
                transform: scaleX(0.333);
    }
}
/*popup*/
.popup {
    padding: 0;
    margin: 0;
    background: transparent;
    position: fixed;
    height: auto;
    min-width: 7rem;
    min-height: 4.5rem;
    z-index: 999;
    opacity: 0;
    display: none;
    -webkit-user-select: none;
            user-select: none;
    -webkit-transition-property: -webkit-transform, opacity;
            transition-property: transform, opacity;
}
.popup.popup_in {
    opacity: 1;
    -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.popup.popup_out {
    opacity: 0;
    -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.popup_right {
    right: 0.75rem;
}
.popup_content {
    background-color: #ffffff;
    border-radius: 0.2rem;
    overflow: hidden;
    min-height: 4.5rem;
    height: 100%;
}
.popup_top,
.popup_top_left,
.popup_top_right {
    top: 0.45rem;
}
.popup_top {
    left: 50%;
    margin-left: -3.5rem;
}
.popup_top_left {
    left: 0.45rem;
}
.popup_top_right {
    right: 0.45rem;
}
.popup_arrow {
    content: '';
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    -webkit-transform-origin: 50% 50% 0;
            transform-origin: 50% 50% 0;
    background-color: transparent;
    background-image: -webkit-linear-gradient(45deg, #ffffff, #ffffff 50%, transparent 50%);
    background-image: linear-gradient(45deg, #ffffff, #ffffff 50%, transparent 50%);
}
.popup_top .popup_arrow,
.popup_top-left .popup_arrow,
.popup_top_right .popup_arrow {
    top: 0.2rem;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
}
.popup_top .popup_arrow {
    left: 50%;
    margin-left: -0.25rem;
    margin-top: -0.4rem;
}
.popup_top_left .popup_arrow {
    left: 0.25rem;
    margin-top: -0.4rem;
}
.popup_top_right .popup_arrow {
    right: 0.25rem;
    margin-top: -0.4rem;
}
.popup_bottom,
.popup_bottom_left,
.popup_bottom_right {
    bottom: 0.45rem;
}
.popup_bottom {
    left: 50%;
    margin-left: -3.5rem;
}
.popup_bottom_left {
    left: 0.45rem;
}
.popup_bottom_right {
    right: 0.45rem;
}
.popup_bottom .popup_arrow,
.popup_bottom_left .popup_arrow,
.popup_bottom_right .popup_arrow {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 0.2rem;
}
.popup_bottom .popup_arrow {
    left: 50%;
    margin-left: -0.25rem;
    margin-bottom: -0.4rem;
}
.popup_bottom_left .popup_arrow {
    left: 0.25rem;
    margin-bottom: -0.4rem;
}
.popup_bottom_right .popup_arrow {
    right: 0.25rem;
    margin-bottom: -0.4rem;
}
.popup_content .list .list_item:first-child {
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}
.popup_content .list .list_item:last-child {
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}
/*聊天气泡*/
.chat {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}
.chat .chat_item {
    position: relative;
    width: 100%;
    margin-bottom: 0.75rem;
    overflow: hidden;
    display: block;
}
.chat .chat_header {
    width: 100%;
    text-align: center;
    margin-bottom: 0.75rem;
    font-size: 0.6rem;
    color: #757575;
}
.chat .chat_left {
    float: left;
}
.chat .chat_right {
    float: right;
}
.chat .chat_media {
    display: inline-block;
    max-width: 2rem;
}
.chat .chat_media img {
    width: 100%;
    border-radius: 50%;
}
.chat .chat_inner {
    position: relative;
    overflow: hidden;
    /*max-width: auto;*/
    display: inherit;
}
.chat .chat_arrow {
    content: '';
    position: absolute;
    width: 0.6rem;
    height: 0.6rem;
    top: 0.2rem;
    -webkit-transform-origin: 50% 50% 0;
            transform-origin: 50% 50% 0;
    background-color: transparent;
}
.chat .chat_left .chat_arrow {
    background-image: -webkit-linear-gradient(45deg, #b3e5fc, #b3e5fc 50%, transparent 50%);
    background-image: linear-gradient(45deg, #b3e5fc, #b3e5fc 50%, transparent 50%);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    left: -0.25rem;
}
.chat .chat_right .chat_arrow {
    background-image: -webkit-linear-gradient(45deg, #ffffff, #ffffff 50%, transparent 50%);
    background-image: linear-gradient(45deg, #ffffff, #ffffff 50%, transparent 50%);
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    right: -0.25rem;
}
.chat .chat_content {
    color: #212121;
    font-size: 0.7rem;
    border-radius: 0.2rem;
    min-height: 2rem;
    position: relative;
    padding: 0.5rem;
    max-width: 80%;
    word-break: break-all;
    word-wrap: break-word;
}
.chat .chat_content img {
    max-width: 100%;
    display: block;
}
.chat .chat_status {
    position: relative;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
}
.chat .chat_name {
    width: 100%;
    position: relative;
    font-size: 0.6rem;
    color: #757575;
    margin-bottom: 0.25rem;
}
.chat .chat_left .chat_name {
    left: 0.5rem;
}
.chat .chat_left .chat_status {
    left: 0.5rem;
    float: left;
}
.chat .chat_left .chat_media {
    width: 2rem;
    float: left;
}
.chat .chat_left .chat_inner {
    max-width: 70%;
}
.chat .chat_left .chat_content{
    background-color: #b3e5fc;
    float: left;
    left: 0.5rem;
}
.chat .chat_right .chat_media {
    width: 2rem;
    float: right;
}
.chat .chat_right .chat_inner {
    float: right;
    max-width: 70%;
}
.chat .chat_right .chat_name {
    float: right;
    right: 0.5rem;
    text-align: right;
}
.chat .chat_right .chat_content {
    background-color: #ffffff;
    right: 0.5rem;
    float: right;
}
.chat .chat_right .chat_status {
    float: right;
    right: 0.5rem;
}
/*swipe*/
/*.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
}*/
.swipe{
    position: absolute;
    top: 0;
    height: 100%;
    left:0;
    width:100%;
    background-color: rgba(0,0,0,.7);
}
.swipe_e {
    float:left;
    width:100vw;
    position: relative;
}
.swipe_e img {
    width:100vw;
    vertical-align: bottom;
}
.position {
    position: absolute;
    left: 0;
    width: 100vw;
    bottom: 10px;
    text-align: center;
}
.position li {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 10px;
    background: #c7c7c7;
    margin: 0 2px;
    -webkit-transition: all 0.5s;
}
.position li.on{
    background: #1abc9c;
}
.swipe_close{
    position: absolute;
    right: 10px;
    top:10px;
    width: 30px;
    line-height: 30px;
    background: rgba(255,255,255,.4);
    text-align: center;
    border-radius: 50%;
    color: rgba(0,0,0,.5);
}
/*基础动画类*/
@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(1);
                transform: rotate(0deg) scale(1);
    }
    50% {
        -webkit-transform: rotate(180deg) scale(1);
                transform: rotate(180deg) scale(1);
    }
    100% {
        -webkit-transform: rotate(360deg) scale(1);
                transform: rotate(360deg) scale(1);
    }
}
@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(1);
                transform: rotate(0deg) scale(1);
    }
    50% {
        -webkit-transform: rotate(180deg) scale(1);
                transform: rotate(180deg) scale(1);
    }
    100% {
        -webkit-transform: rotate(360deg) scale(1);
                transform: rotate(360deg) scale(1);
    }
}
@keyframes bounce {
    0%, 100% {
    -webkit-transform: scale(0.0);
            transform: scale(0.0);
    }
    50% {
    -webkit-transform: scale(1.0);
            transform: scale(1.0);
    }
}
@-webkit-keyframes bounce {
    0%, 100% {
        -webkit-transform: scale(0.0);
                transform: scale(0.0);
    }
    50% {
        -webkit-transform: scale(1.0);
                transform: scale(1.0);
    }
}
@keyframes fadeIn {
    from { opacity: 0.3; }
    to { opacity: 1; }
}
@-webkit-keyframes fadeIn {
    from { opacity: 0.3; }
    to { opacity: 1; }
}
/*图标*/
@font-face {
    font-family: "aui_iconfont";
    src: url('../fonts/aui-iconfont.2.0.ttf') format('truetype');
}
.icon {
    position: relative;
    font-family:"aui_iconfont" !important;
    font-size: 0.7rem;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon_menu:before { content: "\e6eb"; }
.icon_paper:before { content: "\e6ec"; }
.icon_info:before { content: "\e6ed"; }
.icon_question:before { content: "\e6ee"; }
.icon_left:before { content: "\e6f4"; }
.icon_right:before { content: "\e6f5"; }
.icon_top:before { content: "\e6f6"; }
.icon_down:before { content: "\e6f7"; }
.icon_share:before { content: "\e700"; }
.icon_comment:before { content: "\e701"; }
.icon_edit:before { content: "\e6d3"; }
.icon_trash:before { content: "\e6d4"; }
.icon_recovery:before { content: "\e6dc"; }
.icon_refresh:before { content: "\e6dd"; }
.icon_close:before { content: "\e6d8"; }
.icon_cart:before { content: "\e6df"; }
.icon_star:before { content: "\e6e0"; }
.icon_plus:before { content: "\e6e3"; }
.icon_minus:before { content: "\e62d"; }
.icon_correct:before { content: "\e6e5"; }
.icon_search:before { content: "\e6e6"; }
.icon_gear:before { content: "\e6e8"; }
.icon_map:before { content: "\e6d2"; }
.icon_location:before { content: "\e6d1"; }
.icon_image:before { content: "\e6ce"; }
.icon_phone:before { content: "\e6c4"; }
.icon_camera:before { content: "\e6cd"; }
.icon_video:before { content: "\e6cc"; }
.icon_qq:before { content: "\e6cb"; }
.icon_wechat:before { content: "\e6c9"; }
.icon_weibo:before { content: "\e6c8"; }
.icon_note:before { content: "\e6c6"; }
.icon_mail:before { content: "\e6c5"; }
.icon_wechat_circle:before { content: "\e6ca"; }
.icon_home:before { content: "\e706"; }
.icon_forward:before { content: "\e6d9"; }
.icon_back:before { content: "\e6da"; }
.icon_laud:before { content: "\e64b"; }
.icon_lock:before { content: "\e6ef"; }
.icon_unlock:before { content: "\e62f"; }
.icon_like:before { content: "\e62b"; }
.icon_my:before { content: "\e610"; }
.icon_more:before { content: "\e625"; }
.icon_mobile:before { content: "\e697"; }
.icon_calendar:before { content: "\e68a"; }
.icon_date:before { content: "\e68c"; }
.icon_display:before { content: "\e612"; }
.icon_hide:before { content: "\e624"; }
.icon_pencil:before { content: "\e615"; }
.icon_flag:before { content: "\e6f1"; }
.icon_cert:before { content: "\e704"; }