{template 'common/app_header'}
<body>
    <form class="content" enctype="multipart/form-data">
        <div class="searchbar flex bg_white margin_b_10 padding_h_15" style="padding-top:10px;">
            <div class="light" style="width:20px;"><i class="iconfont icon-left"></i></div>
            <div class="all_width text_center font_16">发帖</div>
        </div>
        <div class="bg_white">
            <div class="padding_h_15 padding_v_5 border_b">
                <select class="all_width lineheight_2 border_b" name="post_type">
                    <option>生活闲谈</option>
                    <option>爆照交友</option>
                    <option>其他板块</option>
                </select>
            </div>
            <div class="padding_h_15 padding_v_5 border_b">
                <input class="all_width lineheight_2" type="text" name="title" placeholder="请填写标题">
            </div>
            <div class="padding_h_15 padding_v_5">
                <textarea class="hide" type="text" name="post"></textarea>
                <div class="txtContent all_width" contenteditable="true" style="height:140px;-webkit-user-select: auto">说点什么吧</div>
            </div>
            <div class="text_right">
                <button class="btn btn_blue white margin_10 border_none">发表</button>
            </div>
        </div>
        <div class="icon_opr_b padding_v_10 padding_l_15 flex h_justify font_18 text_center">
            <div class="icon_opr biaoqing"><i class="iconfont icon-biaoqing"></i></div>
            <div class="icon_opr relative image"><i class="iconfont icon-tupian1"></i><!-- <input class="select_pic absolute all" type="file" name="file[]" value="" multiple="true" accept="image/*" style="opacity:0;"/> --></div>
            <div class="icon_opr"><i class="iconfont icon-shipin1"></i></div>
        </div>
        <div class="bg_white relative" style="min-height:160px;">
            <div class="absolute all padding_10 emoticon bg_white flex flex_wrap" style="display:none;"></div>
            <div class="preview flex flex_wrap padding_15"></div>
        </div>
    </form>
    <script type="text/template" charset="utf-8" id='emoticon_template'>
        {{for(var i=1;i<56;i++){ }}
            <img class="emo_b" src="/addons/article/template/mobile/image/face/{{=i}}.gif">
        {{ } }}
    </script>
    <script type="text/template" charset="utf-8" id='img_template'>
        {{for(var i=0;i<it.length;i++){ }}
        <div class="border preview_img"><img class="all_height" src="{{=it[i]}}"></div>
        {{ } }}
    </script>
    <script type="text/javascript">
        localStorage.removeItem("post_img")
        // 表情模版
        var evalEmoticon = doT.template($("#emoticon_template").text());
        $(".emoticon").html(evalEmoticon())
        // 打开表情
        $(".biaoqing").click(function(){
            $(".emoticon").toggle()
        })
        // 选择表情
        $(".emoticon").on("click",".emo_b",function(){

            $('.txtContent').append('<img class="emo" src="'+$(this).attr("src")+'">');
        })
        // 选择图片
        var evalImg = doT.template($("#img_template").text());
        var img_arr=[],imgs = [];
        $(".image").on("click",".select_pic",function(){
            console.log(imgs)
            // var img_arr = JSON.parse(localStorage.getItem("post_img"))||[];
            // if(img_arr.length>=9){
            //     alert("已经选了9张，不能再选啦");
            //     return false;
            // }
            wx.chooseImage({
                sizeType: ['compressed'], // 可以指定是原图还是压缩图，默认二者都有
                sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
                success: function (res) {console.log(res)
                    var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                }
            });
        })
        // $(".image").on("change",".select_pic",function(){
        //     var files = Array.prototype.slice.call(this.files);
        //     var URL = window.URL || window.webkitURL;
        //     for (var i = 0; i < files.length; i++) {
        //         img_arr.push(URL.createObjectURL(files[i]))
        //         imgs.push(files[i])
        //     }
        //     if(img_arr.length>9){
        //         img_arr.splice(9,img_arr.length-9)
        //         imgs.splice(9,img_arr.length-9)
        //         alert("只能选择9张")
        //     }
        //     $(".preview").html(evalImg(img_arr))
        // })
        $(".upload_con").on("click",".preview_close",function(){
            $(this).parent().parent().remove();
            setname();
        })
        function check_img(eles,obj){
            var i = true;
            if(eles.length > 1 ){
                for (var i = 0; i < eles.length-1; i++) {
                    if($(eles[i]).val() == obj.val()){
                        i = false;
                        alert("选择重复啦")
                        return false;
                    }
                };
            }   
            return i;
        }
        // 提交帖子
        $(".content").submit(function(e){
            e.preventDefault();
            $("textarea[name='post']").val($(".txtContent").html())
            $("input[name='file[]']").files = imgs;
            console.log($("input[name='file[]']").files)
            var formData = new FormData($(".content")[0]);
            $.ajax({
                url: "",
                type: 'POST',
                dataType: 'json', 
                data: formData,  
                async: false,  
                cache: false,  
                contentType: false,  
                processData: false,  
                success: function (respond) {
                    
                },  
                error: function (respond) {
                    
                }
            });
        })
    </script>
</body>
</html>