{template 'common/header'}
<ul class="nav nav-tabs">
	<li  {if $op == 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('coll', array('op' => 'display'))}">管理</a></li>
	<!--<li  {if $op == 'post'}class="active"{/if}><a href="{php echo $this->createWebUrl('coll', array('op' => 'post'))}">添加</a></li>-->
</ul>
{if $op=='display'}
<div class="panel panel-info">
	<div class="panel-heading">筛选</div>
	<div class="panel-body">
		<form id="form_search" action="" method="post" class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-md-2 col-lg-1 control-label">姓名</label>
				<div class="col-md-2 col-lg-2">
					<input class="form-control" name="name" type="text" value="{$name}" placeholder="姓名">
				</div>
				<label class="col-md-2 col-lg-1 control-label">标题</label>
				<div class="col-md-2 col-lg-2">
					<input class="form-control" name="title" type="text" value="{$title}" placeholder="标题">
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-lg-offset-1 col-md-2 col-lg-1">
					<button id="btn_search" type="submit" class="btn btn-success"><i class="fa fa-search"></i> 搜索</button>
					<input type="hidden" name="token" value="{$_W['token']}" />
				</div>
			</div>
		</form>
	</div>
</div>
<div class="main">
	<div class="clear" style="margin-bottom:10px;"></div>
	<div class="panel panel-default">
		<div class="panel-heading">收藏列表</div>
		<div class="panel-body table-responsive">
			<table class="table table-hover">
				<tbirthdayad class="navbar-inner">
					<tr>
						<th style="width:5px;">序号</th>
						<th style="width:30px;">用户</th>
						<th style="width:30px;">头像</th>
						<th style="width:40px;">文章标题</th>
						<th style="width:30px;">浏览量</th>
						<th style="width:40px;">收藏时间</th>
						<th style="width:30px;">操作</th>
					</tr>
				</tbirthdayad>
				<tbody>
				{loop $list $k $item}
				<tr>
					<td>{php echo $k+1}</td>
					<td>{$item['nickname']}</td>
					<td><img src="{$_W['attachurl']}{$item['pics']}" width="60px"></td>
					<td><a href="{php echo $this->createWebUrl('article',['op'=>'post','id'=>$item['id']])}">{$item['title']}</a></td>
					<td>{$item['click']}</td>
					<td>{php echo date('Y-m-d H:i',$item['time'])}</td>
					<td>
						<a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('coll',array('op'=>'delete', 'id'=>$item['id']))}" onclick="return confirm('您确定要删除吗?');return false;"><i class="fa fa-times"></i>删除</a>
					</td>
				</tr>
				{/loop}
				</tbody>
				<input name="token" type="hidden" value="{$_W['token']}" />
			</table>
		</div>
	</div>
	{$pager}
</div>
{elseif $op=='post'}
<div class="main">
	<form action="{php echo $this->createWebUrl('pics',array('op'=>'post'))}" class="form-horizontal" method="post" enctype="multipart/form-data" >
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="form-group">
					<label class="col-md-2 col-lg-1 control-label">添加链接</label>
					<div class="col-md-2 col-lg-5">
						<input type="text" name="url" id="url"  class="form-control" value="{$info['url']}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-1 col-lg-1 control-label">照片</label>
					<div class="upload_img col-xs-8" style="line-height:0.5;">
						{php echo tpl_form_field_image('pics',$info['pics']);}
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 col-lg-1 control-label">是否显示</label>
					<div class="col-md-2 col-lg-1">
						<select class="form-control" style="margin-right:15px;" name="status">
							<option value="0" {if $info['status']=='0'}selected{/if}>显示</option>
							<option value="1" {if $info['status']=='1'}selected{/if}>不显示</option>
						</select>
					</div>
				</div>
				<div class='form-group text-center'>
					<input class="btn btn-primary" type="submit" name="sub">
					<input type="hidden" name="id" value="{$id}" />
					<input type="hidden" name="token" value="{$_W['token']}" />
				</div>
			</div>
		</div>
	</form>
</div>
{/if}
<script>
    $("#btn_search").click(function(){
        var name = $("input[name='name']").val();
        var title = $("input[name='title']").val();
        var str = '';
        if(name){
            str += "&name="+name;
        }
        if(title){
            str += "&title="+title;
        }
        $("#form_search").attr("action", "{php echo $this->createWebUrl('coll',array('op'=>'display'))}"+str);
    });

    function drop_confirm(msg, url) {
        if (confirm(msg)) {
            window.location = url;
        }
    }
</script>

{template 'common/footer'}


























