{template 'common/header'}
<ul class="nav nav-tabs">
	<li  {if $op == 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('seto', array('op' => 'display'))}">管理</a></li>
	{if $op == 'banner'}
	<li  {if $op == 'post'}class="active"{/if}><a href="{php echo $this->createWebUrl('post', array('op' => 'banner','oop'=>'add','id'=>$id))}">添加轮播</a></li>
	{else}
	<li  {if $op == 'post'}class="active"{/if}>
	{if $_GPC['ps'] == 's'}
	<a href="{php echo $this->createWebUrl('seto', array('op' => 'post','id'=>$id, 'ps'=>'s'))}">添加栏目（子级）</a>
	{else if ($_GPC['ps'] == 'c')}
	<a href="{php echo $this->createWebUrl('seto', array('op' => 'post','sid'=>$sid))}">编辑栏目（子级）</a>
	{else}
	{if empty($id)}
	<a href="{php echo $this->createWebUrl('seto', array('op' => 'post'))}">添加页面（父级）</a>
	{else}
	<a href="{php echo $this->createWebUrl('seto', array('op' => 'post','id'=>$id))}">编辑页面（父级）</a>
	{/if}
	{/if}
	{/if}
	</li>
</ul>
{if $op=='display'}
<!--<div class="panel panel-info">-->
<!--<div class="panel-heading">筛选</div>-->
<!--<div class="panel-body">-->
<!--<form id="form_search" action="" method="post" class="form-horizontal" role="form">-->
<!--<div class="form-group">-->
<!--<label class="col-md-2 col-lg-1 control-label">分类</label>-->
<!--<div class="col-md-2 col-lg-2">-->
<!--<select class="form-control" style="margin-right:15px;" name="stype">-->
<!--<option value="1" {if $info['stype']== $_GPC['st']}selected{/if}>页面</option>-->
<!--<option value="2" {if $info['stype']== $_GPC['st']}selected{/if}>栏目</option>-->
<!--</select>-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<div class="col-md-offset-2 col-lg-offset-1 col-md-2 col-lg-1">-->
<!--<button id="btn_search" type="submit" class="btn btn-success"><i class="fa fa-search"></i> 搜索</button>-->
<!--<input type="hidden" name="token" value="{$_W['token']}" />-->
<!--</div>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<div class="main">
	<div class="clear" style="margin-bottom:10px;"></div>
	<div class="panel panel-default">
		<div class="panel-heading">页面&栏目列表</div>
		<div class="panel-body table-responsive">
			<table class="table table-hover">
				<tbirthdayad class="navbar-inner">
					<tr>
						<th style="width:10px;">序号</th>
						<th style="width:20px;">标题</th>
						<th style="width:20px;">自定义轮播</th>
						<th style="width:20px;">分类</th>
						<th style="width:20px;">是否显示</th>
						<th style="width:30px;">创建时间</th>
						<th style="width:90px;">操作</th>
					</tr>
				</tbirthdayad>
				<tbody>

				{loop $arr $item}
				<tr style="background-color: #a6e1ec">
					<td>{$item['id']}</td>
					<td>{$item['title']}</td>
					<td>{if $item['banner']}<img src="{$_W['attachurl']}{$item['banner']}" width="60px">{/if}</td>
					<td>页面（父级）</td>
					<td>{if $item['status'] =='0'}显示{else}不显示{/if}</td>
					<td>{php echo date('Y-m-d H:i',$item['time'])}</td>
					<td>
						<a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('seto',array('op'=>'post', 'id'=>$item['id']))}"><i class="fa fa-edit"></i> 编辑</a>
						<a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('seto',array('op'=>'url', 'id'=>$item['id']))}"><i class="fa fa-mail-forward"></i>链接 </a>
						<a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('seto',array('op'=>'banner', 'id'=>$item['id']))}"><i class="fa fa-plus-circle"></i> 自定义轮播</a>
						<a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('seto',array('op'=>'delete', 'id'=>$item['id']))}" onclick="return confirm('您确定要删除吗?');return false;"><i class="fa fa-times"></i>删除</a>
						<a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('seto',array('op'=>'post', 'id'=>$item['id'],'ps'=>s))}"><i class="fa fa-plus-circle"></i> 添加</a>
					</td>
				</tr>
				{loop $item['sons'] $k $row}
				<tr>
					<td>{php echo $k+1}</td>
					<td>{$row['title']}</td>
					<td></td>
					<td>栏目</td>
					<td>{if $row['status'] =='0'}显示{else}不显示{/if}</td>
					<td>{php echo date('Y-m-d H:i',$row['time'])}</td>
					<td>
						<a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('seto',array('op'=>'post', 'id'=>$row['id'],'ps'=>c))}"><i class="fa fa-edit"></i> 详情编辑</a>
						<a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('seto',array('op'=>'delete', 'id'=>$row['id']))}" onclick="return confirm('您确定要删除吗?');return false;"><i class="fa fa-times"></i>删除</a>
					</td>
				</tr>
				{/loop}
				{/loop}
				</tbody>
				<input name="token" type="hidden" value="{$_W['token']}" />
			</table>
		</div>
	</div>
	{$pager}
</div>
{elseif $op=='post'}
<div class="main">
	<form action="{php echo $this->createWebUrl('seto',array('op'=>'post'))}" class="form-horizontal" method="post" enctype="multipart/form-data" >
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="form-group">
					<label class="col-md-2 col-lg-1 control-label">标题</label>
					<div class="col-md-2 col-lg-2">
						<input type="text" name="title" id="title"  class="form-control" value="{$info['title']}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 col-lg-1 control-label">是否显示</label>
					<div class="col-md-2 col-lg-1">
						<select class="form-control" style="margin-right:15px;" name="status">
							<option value="0" {if $info['status']=='0'}selected{/if}>显示</option>
							<option value="1" {if $info['status']=='1'}selected{/if}>不显示</option>
						</select>
					</div>
				</div>
			</div>

			<div class='form-group text-center'>
				<input class="btn btn-primary" type="submit" name="sub">
				{if $_GPC['ps'] == 's'}
				<input type="hidden" name="id" value="{$id}" />
				<input type="hidden" name="ps" value="s" />
				{else if ($_GPC['ps'] == 'c')}
				<input type="hidden" name="id" value="{$id}" />
				<input type="hidden" name="ps" value="c" />
				{else}
				<input type="hidden" name="id" value="{$id}" />
				{/if}
				<input type="hidden" name="token" value="{$_W['token']}" />
			</div>

		</div>
	</form>
</div>
{elseif $op=='banner'}
{if $oop == 'display'}
<div class="main">
	<div class="clear" style="margin-bottom:10px;"></div>
	<div class="panel panel-default">
		<div class="panel-heading">轮播列表</div>
		<div class="panel-body table-responsive">
			<table class="table table-hover">
				<tbirthdayad class="navbar-inner">
					<tr>
						<th style="width:5px;">序号</th>
						<th style="width:30px;">帖子内容</th>
						<th style="width:10px;">图片</th>
						<th style="width:50px;">链接</th>
						<th style="width:20px;">添加时间</th>
						<th style="width:30px;">操作</th>
					</tr>
				</tbirthdayad>
				<tbody>
				{loop $blist $k $item}
				<tr>
					<td>{php echo $k+1}</td>
					<td>{$item['content']}</td>
					<td><img src="{$_W['attachurl']}{$item['pic']}" width="60px"></td>
					<td>{$item['url']}</td>
					<td>{php echo date('Y-m-d H:i',$item['time'])}</td>
					<td>
						<a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('post',array('op'=>'banner','oop'=>'add', 'id'=>$id, 'bannerid'=>$item['id']))}"><i class="fa fa-edit"></i> 详情编辑</a>
						<a class="btn btn-default btn-sm" href="{php echo $this->createWebUrl('post',array('op'=>'banner','oop'=>'del', 'id'=>$id, 'bannerid'=>$item['id']))}" onclick="return confirm('您确定要删除吗?');return false;"><i class="fa fa-times"></i>删除</a>
					</td>
				</tr>
				{/loop}
				</tbody>
				<input name="token" type="hidden" value="{$_W['token']}" />
			</table>
		</div>
	</div>
	{$pager}
</div>
{elseif $oop=='add'}
<div class="main">
	<form action="{php echo $this->createWebUrl('post',array('op'=>'banner','oop'=>'add'))}" class="form-horizontal" method="post" enctype="multipart/form-data" >
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="form-group">
					<label class="col-md-2 col-lg-1 control-label">自定义轮播</label>
					<div class="col-md-2 col-lg-3">
						{php echo tpl_form_field_image("pic",$b_info['pic']);}
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 col-lg-1 control-label">轮播对应链接</label>
					<div class="col-md-2 col-lg-4">
						<input type="text" name="url" id="url"  class="form-control" value="{$b_info['url']}">
					</div>
				</div>
				<div class='form-group text-center'>
					<input class="btn btn-primary" type="submit" name="sub">
					<input type="hidden" name="id" value="{$id}" />
					<input type="hidden" name="bannerid" value="{$bannerid}" />
					<input type="hidden" name="token" value="{$_W['token']}" />
				</div>
			</div>
		</div>
	</form>
</div>
{/if}
{elseif $op=='url'}
<div class="form-group">
	<label class="col-md-2 col-lg-1 control-label">页面链接</label>
	<div class="col-md-2 col-lg-5">
		<input type="text" class="form-control" value="{$url}" readonly>
	</div>
</div>
{/if}

<script>
    $("#btn_search").click(function(){
        var stype = $("select[name='stype']").val();
        var str = '';
        if(stype){
            str += "&st="+stype;
        }

        $("#form_search").attr("action", "{php echo $this->createWebUrl('seto',['op'=>'display'])}"+str);
    });

    function drop_confirm(msg, url) {
        if (confirm(msg)) {
            window.location = url;
        }
    }
</script>

<script>
    $(document).ready(function(e) {
        try {
            var pages = $("#pages").msDropdown({on:{change:function(data, ui) {
                var val = data.value;
                if(val!="")
                    window.location = val;
            }}}).data("dd");

            var pagename = document.location.pathname.toString();
            pagename = pagename.split("/");
            pages.setIndexByValue(pagename[pagename.length-1]);
            $("#ver").html(msBeautify.version.msDropdown);
        } catch(e) {
            //console.log(e);
        }

        $("#ver").html(msBeautify.version.msDropdown);

        //convert
        $("select").msDropdown({roundedBorder:false});
        createByJson();
    });
    function showValue(h) {
        console.log(h.name, h.value);
    }
</script>


{template 'common/footer'}


























